<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ .Description }}">
<!-- Geo tags -->
<meta name="ICBM" content="19.0760, 72.8777">
<meta name="geo.position" content="19.0760;72.8777">
<meta name="geo.region" content="IN-MH">
<meta name="geo.placename" content="Mumbai">
<style>
code {
  font-family: Consolas,"courier new";
  color: cyan;
  background-color: #eeeeee;
  padding: 2px;
  font-size: 100%;
}
</style>
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>

<p style="font-size:75%; color:#00ffff"> <em>&nbsp;Never just seeing; always remembering.
<p style="font-size:75%; color:#00ffff"> <em>&nbsp;ⵔⴰⵎⵉ ⵎⴻⵏⴰⴷ</em></p>

<code>
{{ partialCached "head/css.html" . }}


